logs/
configs/secrets.json
*.pyc
__pycache__/
logs/
configs/secrets.json
*.pyc
__pycache__/
.env
/volume/*
!/volume/.gitkeep
/geo-roulette-480054a3a731.json
/terraform/terraform-devenv-5718cdde5677.json
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/config/visionz.env
**.env
**key.json
iam.json**
/terraform/tfplan
/terraform/backend.tf
/terraform/.terraform.lock.hcl
/terraform/modules/cloud_function_module/function_code.zip
/terraform/.terraform/
/base-job-template.json
.venv/
.idea/
__pycache__/
*.pyc
/cli_session.session
